.idea/
node_modules
apiToken.dat
npm-debug.log
dist/

employee-manager-linux-ia32
employee-manager-win32-ia32
employee-manager-darwin-x64
employee-manager-linux-x64
employee-manager-mas-x64
employee-manager-win32-x64
employee-manager-linux-armv7l